<style>
  /* Comparison Section */

  .comparison-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
    padding: 50px 15px;
  }

  .comparison-section h1 {
    width: 100%;
    text-align: center;
    /* font-size: 26px; */
  }

  @media screen and (min-width: 750px) {
    .comparison-section {
      padding: 75px 15px;
    }

    .comparison-section h1 {
      font-size: 32px;
    }

    .rmq-d0a8ba2b {
      font-size: 18px !important;
    }

    .rmq-196f5390 {
      font-size: 18px !important;
    }

    .rmq-44279447 {
      font-size: 18px !important;
    }

    .rmq-49774d36 {
      width: 50px !important;
      height: 50px !important;
    }
  }
</style>

<div class="comparison-section">
  <h1>This is what makes Flossmo special!</h1>
  <div
    style="display:flex;flex-basis:auto;flex-shrink:0;width:100%;justify-content:center;align-items:center"
    class="rmq-9be8222e rmq-46cb5fcc rmq-f1a67779 rmq-27e54ec4"
    data-rid="1"
    data-radium="true"
  >
    <div
      data-rid="d458fab8-1067-49fe-ad47-18844ca5e6f0"
      data-replo-repeated-index=".0.0.0.0"
      style="width:100%;row-gap:0;display:grid;max-width:900px;column-gap:0;align-items:center;justify-content:center;grid-template-columns:repeat(4, minmax(0, 1fr));flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
      class="rmq-5bdba27e rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8"
      data-radium="true"
    >
      <div
        data-rid="d37f6d00-da19-4ec3-82fe-52ff93f29965"
        data-replo-repeated-index=".0.0.0.0.0"
        style="display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:flex-start;padding-top:80px;flex-direction:column;grid-column-end:span 2;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:flex-start;background-color:#E8F9FFFF;border-left-color:#57B9E4FF;border-left-style:solid;border-left-width:1px;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;overflow:hidden;flex-shrink:1;flex-basis:0;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
        class="rmq-aa9bba01 rmq-24efb66c rmq-6843f6f1 rmq-76807d4c"
        data-radium="true"
      >
        <div
          data-rid="ec326544-74a3-4c74-9cf5-1a5db2eb0439"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:flex-start;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="0a98d0d0-cffd-4e93-a558-0580706b54ef"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            class="rmq-d0a8ba2b rmq-cf021ec2 rmq-ff3d0d37 rmq-15a7c1ca alchemy-rte"
            style="color:#000000;flex-grow:1;font-size:16px;text-align:center;text-align-last:center;flex-shrink:1;flex-basis:0;overflow-wrap:break-word"
            data-radium="true"
          >
            <span contenteditable="false" style="width:100%" data-radium="true">
              <p>{{ section.settings.feature1 }}</p>
            </span>
          </div>
        </div>
        <div
          data-rid="f6de43f9-ec6c-483b-8207-8872da6f6ca8"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:flex-start;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="c7082a0c-a040-4024-bcab-f9d5713b7cb5"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            class="rmq-d0a8ba2b rmq-cf021ec2 rmq-ff3d0d37 rmq-15a7c1ca alchemy-rte"
            style="color:#000000;flex-grow:1;font-size:16px;text-align:center;text-align-last:center;flex-shrink:1;flex-basis:0;overflow-wrap:break-word"
            data-radium="true"
          >
            <span contenteditable="false" style="width:100%" data-radium="true">
              <p>{{ section.settings.feature2 }}</p>
            </span>
          </div>
        </div>
        <div
          data-rid="853e03a7-c2a5-4165-9b19-c60727c1bc2f"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:flex-start;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="dfa130be-821d-4285-915a-51117fcaed07"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            class="rmq-d0a8ba2b rmq-cf021ec2 rmq-ff3d0d37 rmq-15a7c1ca alchemy-rte"
            style="color:#000000;flex-grow:1;font-size:16px;text-align:center;text-align-last:center;flex-shrink:1;flex-basis:0;overflow-wrap:break-word"
            data-radium="true"
          >
            <span contenteditable="false" style="width:100%" data-radium="true">
              <p>{{ section.settings.feature3 }}</p>
            </span>
          </div>
        </div>
        <div
          data-rid="cbe0981d-9718-48d4-bfe8-60fa2fd5511b"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:flex-start;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="bee47e40-e738-4526-a12f-dd097ff1dec6"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            class="rmq-d0a8ba2b rmq-cf021ec2 rmq-ff3d0d37 rmq-15a7c1ca alchemy-rte"
            style="color:#000000;flex-grow:1;font-size:16px;text-align:center;text-align-last:center;flex-shrink:1;flex-basis:0;overflow-wrap:break-word"
            data-radium="true"
          >
            <span contenteditable="false" style="width:100%" data-radium="true">
              <p>{{ section.settings.feature4 }}</p>
            </span>
          </div>
        </div>
        <div
          data-rid="06ef52a9-602f-4169-a8c8-39a2bfdde4f2"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:flex-start;border-bottom-color:#57B9E4FF;border-bottom-style:solid;border-bottom-width:1px;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="f3792bfc-36f4-474e-8d68-f79b85a3242f"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            class="rmq-d0a8ba2b rmq-cf021ec2 rmq-ff3d0d37 rmq-15a7c1ca alchemy-rte"
            style="color:#000000;flex-grow:1;font-size:16px;text-align:center;text-align-last:center;flex-shrink:1;flex-basis:0;overflow-wrap:break-word"
            data-radium="true"
          >
            <span contenteditable="false" style="width:100%" data-radium="true">
              <p>{{ section.settings.feature5 }}</p>
            </span>
          </div>
        </div>
      </div>
      <div
        data-rid="0fc6270c-4553-454c-b3a9-f0dc94d5c41c"
        data-replo-repeated-index=".0.0.0.0.0"
        style="row-gap:3px;z-index:2;display:flex;flex-grow:1;max-width:100%;align-self:stretch;column-gap:0;align-items:flex-start;flex-direction:column;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:flex-start;background-color:#FFFFFFFF;border-left-color:#57B9E4FF;border-left-style:solid;border-left-width:1px;border-right-color:#57B9E4FF;border-right-style:solid;border-right-width:1px;border-bottom-color:#57B9E4FF;border-bottom-style:solid;border-bottom-width:1px;border-top-left-radius:8px;grid-template-columns:repeat(1, minmax(0, 1fr));border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;overflow:hidden;flex-shrink:1;flex-basis:0;transform:scale3d(110%, 110%, 100%);position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
        class="rmq-e40760d5 rmq-dca84d18 rmq-6843f6f1 rmq-76807d4c"
        data-radium="true"
      >
        <div
          data-rid="198abe3f-597d-4a1f-a295-5bcaa939ad40"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:95px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:30px;padding-left:8px;padding-right:8px;flex-direction:column;padding-bottom:20px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-8ed5cd10 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <picture
            data-rid="e2eb0c48-ec62-4b88-99cf-14cce2edddb7"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;max-width:140px;object-fit:cover;flex-shrink:0;flex-basis:auto"
            class="rmq-2ad8f6c0 rmq-3136bb4a rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <source
              srcset="https://cdn.shopify.com/s/files/1/0668/7414/7051/files/xpZHmdHM.png?v=1686491675&amp;width=820"
              media="(max-width: 640px)">
            <source
              srcset="https://cdn.shopify.com/s/files/1/0668/7414/7051/files/xpZHmdHM.png?v=1686491675&amp;width=1024"
              media="(min-width: 641px) and (max-width: 820px)">
            <source
              srcset="https://cdn.shopify.com/s/files/1/0668/7414/7051/files/xpZHmdHM.png?v=1686491675&amp;width=1800"
              media="(min-width: 821px) and (max-width: 1024px)">
            <source
              srcset="https://cdn.shopify.com/s/files/1/0668/7414/7051/files/xpZHmdHM.png?v=1686491675&amp;width=2048"
              media="(min-width: 1025px)">
            <img
              src="https://cdn.shopify.com/s/files/1/0668/7414/7051/files/xpZHmdHM.png?v=1686491675"
              style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%"
              class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b"
              loading="eager"
              data-radium="true"
          ></picture>
        </div>
        <div
          data-rid="396e8ef9-83f7-473f-841c-2f32ced306db"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:70px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="65fc99e0-d22f-4e78-8668-4402e2b9dbb4"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="line-height:100%;color:#FE9920FF;width:40px;height:40px;flex-shrink:0;flex-basis:auto;--rsw:100%"
            class="rmq-49774d36 rmq-4ea94e36 rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 22.75C18.8848 22.75 23.25 18.3848 23.25 13C23.25 10.983 22.6375 9.10906 21.5884 7.55399L13.7717 16.2393C13.079 17.0089 11.9135 17.1226 11.0851 16.5013L7.48333 13.8C7.04151 13.4686 6.95196 12.8418 7.28333 12.4C7.61471 11.9582 8.24151 11.8686 8.68333 12.2L12.2851 14.9013L20.2919 6.00485C18.5362 4.29981 16.1407 3.25 13.5 3.25C8.11522 3.25 3.75 7.61522 3.75 13C3.75 18.3848 8.11522 22.75 13.5 22.75Z" fill="#068EC9"/>
            </svg>
          </div>
        </div>
        <div
          data-rid="5f7bf60a-5b4a-425d-85b9-f9bbca6f611a"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:70px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="6bbc2b17-6006-43a9-964f-bbb269261dc3"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="line-height:100%;color:#FE9920FF;width:40px;height:40px;flex-shrink:0;flex-basis:auto;--rsw:100%"
            class="rmq-49774d36 rmq-4ea94e36 rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 22.75C18.8848 22.75 23.25 18.3848 23.25 13C23.25 10.983 22.6375 9.10906 21.5884 7.55399L13.7717 16.2393C13.079 17.0089 11.9135 17.1226 11.0851 16.5013L7.48333 13.8C7.04151 13.4686 6.95196 12.8418 7.28333 12.4C7.61471 11.9582 8.24151 11.8686 8.68333 12.2L12.2851 14.9013L20.2919 6.00485C18.5362 4.29981 16.1407 3.25 13.5 3.25C8.11522 3.25 3.75 7.61522 3.75 13C3.75 18.3848 8.11522 22.75 13.5 22.75Z" fill="#068EC9"/>
            </svg>
          </div>
        </div>
        <div
          data-rid="c95d85a0-3685-42ba-98be-566bd8c9a5a5"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:70px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="cef0c722-6caf-460e-b31c-70a961902804"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="line-height:100%;color:#FE9920FF;width:40px;height:40px;flex-shrink:0;flex-basis:auto;--rsw:100%"
            class="rmq-49774d36 rmq-4ea94e36 rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 22.75C18.8848 22.75 23.25 18.3848 23.25 13C23.25 10.983 22.6375 9.10906 21.5884 7.55399L13.7717 16.2393C13.079 17.0089 11.9135 17.1226 11.0851 16.5013L7.48333 13.8C7.04151 13.4686 6.95196 12.8418 7.28333 12.4C7.61471 11.9582 8.24151 11.8686 8.68333 12.2L12.2851 14.9013L20.2919 6.00485C18.5362 4.29981 16.1407 3.25 13.5 3.25C8.11522 3.25 3.75 7.61522 3.75 13C3.75 18.3848 8.11522 22.75 13.5 22.75Z" fill="#068EC9"/>
            </svg>
          </div>
        </div>
        <div
          data-rid="a16dfc27-0fde-4154-8bb1-9f91dbaa7e68"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:70px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="139adf1c-2c01-4047-b411-ddc0f4722288"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="line-height:100%;color:#FE9920FF;width:40px;height:40px;flex-shrink:0;flex-basis:auto;--rsw:100%"
            class="rmq-49774d36 rmq-4ea94e36 rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 22.75C18.8848 22.75 23.25 18.3848 23.25 13C23.25 10.983 22.6375 9.10906 21.5884 7.55399L13.7717 16.2393C13.079 17.0089 11.9135 17.1226 11.0851 16.5013L7.48333 13.8C7.04151 13.4686 6.95196 12.8418 7.28333 12.4C7.61471 11.9582 8.24151 11.8686 8.68333 12.2L12.2851 14.9013L20.2919 6.00485C18.5362 4.29981 16.1407 3.25 13.5 3.25C8.11522 3.25 3.75 7.61522 3.75 13C3.75 18.3848 8.11522 22.75 13.5 22.75Z" fill="#068EC9"/>
            </svg>
          </div>
        </div>
        <div
          data-rid="d3443e67-1777-43a7-bb85-d2f580942ccf"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:70px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-383cc363 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="606aaafe-48e1-4882-b982-fbd40799b76c"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="line-height:100%;color:#FE9920FF;width:40px;height:40px;flex-shrink:0;flex-basis:auto;--rsw:100%"
            class="rmq-49774d36 rmq-4ea94e36 rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 22.75C18.8848 22.75 23.25 18.3848 23.25 13C23.25 10.983 22.6375 9.10906 21.5884 7.55399L13.7717 16.2393C13.079 17.0089 11.9135 17.1226 11.0851 16.5013L7.48333 13.8C7.04151 13.4686 6.95196 12.8418 7.28333 12.4C7.61471 11.9582 8.24151 11.8686 8.68333 12.2L12.2851 14.9013L20.2919 6.00485C18.5362 4.29981 16.1407 3.25 13.5 3.25C8.11522 3.25 3.75 7.61522 3.75 13C3.75 18.3848 8.11522 22.75 13.5 22.75Z" fill="#068EC9"/>
            </svg>
          </div>
        </div>
      </div>
      <div
        data-rid="b9330dc6-a0f1-45d9-ad48-d77de7ea88dd"
        data-replo-repeated-index=".0.0.0.0.0"
        style="row-gap:0;display:flex;flex-grow:1;max-width:100%;align-self:stretch;column-gap:0;align-items:flex-start;flex-direction:column;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:space-between;background-color:#E8F9FFFF;border-right-color:#57B9E4FF;border-right-style:solid;border-right-width:1px;border-bottom-color:#57B9E4FF;border-bottom-style:solid;border-bottom-width:1px;grid-template-columns:repeat(1, minmax(0, 1fr));border-top-right-radius:8px;border-bottom-right-radius:8px;overflow:hidden;flex-shrink:1;flex-basis:0;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
        class="rmq-e40760d5 rmq-dca84d18 rmq-6843f6f1 rmq-76807d4c"
        data-radium="true"
      >
        <div
          data-rid="aa5481ae-8f59-483d-911f-663acc69133f"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="91c5a01d-0d5c-4e4c-84fb-03fa5c84b0e1"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            class="rmq-196f5390 rmq-ad4c3799 rmq-ff3d0d37 rmq-15a7c1ca alchemy-rte"
            style="color:#000000FF;flex-grow:1;font-size:14px;text-align:center;text-align-last:center;flex-shrink:1;flex-basis:0;overflow-wrap:break-word"
            data-radium="true"
          >
            <span contenteditable="false" style="width:100%" data-radium="true"><p>Traditional Flossing</p></span>
          </div>
        </div>
        <div
          data-rid="81ba94ac-a484-4d53-9ac9-3622e2fb2ffd"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:center;flex-shrink:1;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-fc52f14 rmq-29c6a209"
          data-radium="true"
        >
          <div
            data-rid="05052a0f-7457-4a34-b8c7-65b964364d96"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="line-height:100%;color:#FF0205FF;width:45px;height:45px;flex-shrink:0;flex-basis:auto;--rsw:100%"
            class="rmq-49774d36 rmq-47ce1836 rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              width="1em"
              height="1em"
              fill="currentColor"
              style="width:var(--rsw, 100%);height:100%"
            >
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
          </div>
        </div>
        <div
          data-rid="67030b6d-4555-4471-8504-93268668635f"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:center;flex-shrink:1;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-fc52f14 rmq-29c6a209"
          data-radium="true"
        >
          <div
            data-rid="148a4b1e-07c6-4cde-a452-eb1f4dab9319"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="line-height:100%;color:#FF0205FF;width:45px;height:45px;flex-shrink:0;flex-basis:auto;--rsw:100%"
            class="rmq-49774d36 rmq-47ce1836 rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              width="1em"
              height="1em"
              fill="currentColor"
              style="width:var(--rsw, 100%);height:100%"
            >
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
          </div>
        </div>
        <div
          data-rid="89d5854a-58f3-4884-be58-20d8aab566b3"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:center;flex-shrink:1;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-fc52f14 rmq-29c6a209"
          data-radium="true"
        >
          <div
            data-rid="adcda428-57a4-4fb4-a836-4f29eb2b9adc"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="line-height:100%;color:#FF0205FF;width:45px;height:45px;flex-shrink:0;flex-basis:auto;--rsw:100%"
            class="rmq-49774d36 rmq-47ce1836 rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              width="1em"
              height="1em"
              fill="currentColor"
              style="width:var(--rsw, 100%);height:100%"
            >
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
          </div>
        </div>
        <div
          data-rid="adaa3d62-1c79-4048-a4ef-f5bc1cecec62"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="44df4dbc-a653-4311-a9dd-2a0c937c4a49"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            style="line-height:100%;color:#FF0205FF;width:45px;height:45px;flex-shrink:0;flex-basis:auto;--rsw:100%"
            class="rmq-49774d36 rmq-47ce1836 rmq-1f47714 rmq-4a86ea09"
            data-radium="true"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              width="1em"
              height="1em"
              fill="currentColor"
              style="width:var(--rsw, 100%);height:100%"
            >
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
          </div>
        </div>
        <div
          data-rid="28a3470f-0231-4523-8e35-8ee11b8cedd8"
          data-replo-repeated-index=".0.0.0.0.0.0"
          style="height:80px;display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;border-top-color:#57B9E4FF;border-top-style:solid;border-top-width:1px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto"
          class="rmq-89bec1e3 rmq-57a7d2be rmq-c1936f55 rmq-cc200de8"
          data-radium="true"
        >
          <div
            data-rid="b46abc9f-304d-4e6b-a390-1a623b53c46d"
            data-replo-repeated-index=".0.0.0.0.0.0.0"
            class="rmq-44279447 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte"
            style="font-size:14px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word"
            data-radium="true"
          >
            <span contenteditable="false" style="width:100%" data-radium="true">
              <p>{{ section.settings.last_row }}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "C Comparison Table",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Innovative design & features:"
    },
    {
      "type": "header",
      "content": "Features"
    },
    {
      "type": "text",
      "id": "feature1",
      "label": "Feature 1",
      "default": "Takes 30 seconds"
    },
    {
      "type": "text",
      "id": "feature2",
      "label": "Feature 2",
      "default": "Gentle on your gums"
    },
    {
      "type": "text",
      "id": "feature3",
      "label": "Feature 3",
      "default": "Removes up to 99% of plaque"
    },
    {
      "type": "text",
      "id": "feature4",
      "label": "Feature 4",
      "default": "Ideal for people with braces"
    },
    {
      "type": "text",
      "id": "feature5",
      "label": "Feature 5",
      "default": "Clinically proven"
    },
    {
      "type": "header",
      "content": "Traditional Flossing"
    },
    {
      "type": "text",
      "id": "last_row",
      "label": "Last row text",
      "default": "Not proven"
    }
  ],
  "presets": [
    {
      "name": "C Comparison Table"
    }
  ]
}
{% endschema %}
