<style>
  /* Social Proof Section */

  .social-proof {
    align-self: stretch;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #edfaff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    display: flex;
  }

  .headline-social-proof {
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    padding: 0 15px;
  }

  .headline-social-proof h1 {
    text-align: center;
  }

  .social-proof-stars {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    display: inline-flex;
  }

  .headline-stars svg {
    width: 22px !important;
    height: 22px !important;
  }

  .stars {
    justify-content: center;
    align-items: center;
    gap: 1px;
    display: flex;
  }

  .stars svg {
    width: 14px;
    height: 14px;
  }

  .clarity-star-solid {
    width: 25px;
    height: 25px;
    position: relative;
  }

  .social-proof .container {
    padding: 4px 25px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    row-gap: 30px;
    display: flex;
    flex-direction: row;
  }

  .frame {
    position: relative;
    padding-bottom: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }

  .social-proof img {
    width: 135px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px;
    border: 5px #3ecaf2 solid;
  }

  .image-tilt-left {
    transform: rotate(-3deg);
    transform-origin: 0 0;
  }

  .image-tilt-right {
    transform: rotate(3deg);
    transform-origin: 0 0;
  }

  .review {
    position: absolute;
    z-index: 10;
    width: 220px;
    bottom: 0px;
    /* height: 122px; */
    padding: 8px 14px;
    transform-origin: 0 0;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    border: 3px #068ec9 solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
  }

  .review-text {
    font-size: 14px;
  }

  .rating-name {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
  }

  .social-proof .name {
    flex: 1 1 0;
    text-align: right;
    color: #068ec9;
  }

  .item1 {
    order: 0;
  }

  .item1 .review {
    width: 230px;
    left: -25px;
    transform: rotate(1deg);
  }

  .item2 {
    order: 1;
  }

  .item3 {
    order: 2;
  }

  .item4 {
    order: 3;
  }

  .item4 .review {
    width: 250px;
    right: -25px;
    transform: rotate(-1deg);
  }

  .item5 {
    order: 4;
    padding-bottom: 75px;
  }

  .item5 .review {
    width: 270px;
    transform: rotate(1deg);
  }

  @media screen and (min-width: 495px) {
    .social-proof-stars {
      flex-direction: row;
    }

    .social-proof .container {
      padding: 4px 75px;
      gap: 45px;
    }

    .item3 {
      order: 3;
    }

    .item4 {
      order: 2;
    }

    .item4 .review {
      right: auto;
    }

    .stars svg {
      width: 18px;
      height: 18px;
    }
  }

  @media screen and (min-width: 750px) {
    .headline-social-proof h1 {
      font-size: 32px;
    }

    .social-proof-stars p {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1200px) {
    .social-proof img {
      width: 250px;
      height: 312px;
    }

    .frame {
      padding-bottom: 75px;
    }

    .frame .review {
      width: 400px;
    }

    .frame .review-text {
      font-size: 16px;
    }

    .item1 .review {
      left: auto;
    }
  }
</style>

<div class="social-proof">
  <div class="headline-social-proof">
    <h1>{{ section.settings.heading }}</h1>
    <a href="#looxReviews">
      <div class="social-proof-stars">
        <div class="stars headline-stars">
          <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_25_64)">
            <path d="M24.1111 11.6527C24.3692 11.4605 24.5606 11.1922 24.6586 10.8857C24.7565 10.5791 24.7561 10.2495 24.6573 9.94323C24.5585 9.63692 24.3664 9.36921 24.1077 9.17763C23.8491 8.98605 23.537 8.88021 23.2152 8.87496L16.9652 8.63885C16.9345 8.63672 16.9051 8.62576 16.8804 8.60728C16.8558 8.5888 16.837 8.56359 16.8264 8.53468L14.6666 2.70135C14.5581 2.40457 14.361 2.1483 14.1021 1.96725C13.8431 1.78619 13.5347 1.68909 13.2187 1.68909C12.9027 1.68909 12.5944 1.78619 12.3354 1.96725C12.0764 2.1483 11.8793 2.40457 11.7708 2.70135L9.61802 8.55551C9.60738 8.58442 9.58861 8.60963 9.56397 8.62811C9.53933 8.6466 9.50987 8.65756 9.47914 8.65968L3.22914 8.89579C2.90734 8.90105 2.59525 9.00688 2.33663 9.19846C2.07802 9.39004 1.88585 9.65775 1.78706 9.96406C1.68828 10.2704 1.68783 10.5999 1.78579 10.9065C1.88375 11.2131 2.07521 11.4813 2.3333 11.6736L7.23608 15.5277C7.26062 15.547 7.27896 15.5731 7.28883 15.6027C7.29871 15.6324 7.29968 15.6642 7.29164 15.6944L5.60414 21.6736C5.51669 21.978 5.52516 22.3021 5.6284 22.6016C5.73164 22.901 5.92463 23.1615 6.18111 23.3474C6.4376 23.5333 6.74514 23.6357 7.06188 23.6406C7.37863 23.6456 7.6892 23.5528 7.95136 23.375L13.1319 19.9027C13.1574 19.8851 13.1877 19.8757 13.2187 19.8757C13.2497 19.8757 13.28 19.8851 13.3055 19.9027L18.4861 23.375C18.7447 23.5589 19.0542 23.6577 19.3715 23.6577C19.6888 23.6577 19.9983 23.5589 20.2569 23.375C20.5135 23.1908 20.7066 22.9316 20.8099 22.6332C20.9131 22.3347 20.9213 22.0116 20.8333 21.7083L19.1319 15.7083C19.1229 15.6782 19.1234 15.646 19.1333 15.6162C19.1433 15.5863 19.1622 15.5603 19.1875 15.5416L24.1111 11.6527Z" fill="#FFBD00"/>
            </g>
            <defs>
            <clipPath id="clip0_25_64">
            <rect width="25" height="25" fill="white" transform="translate(0.5)"/>
            </clipPath>
            </defs>
          </svg>
          <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_25_64)">
            <path d="M24.1111 11.6527C24.3692 11.4605 24.5606 11.1922 24.6586 10.8857C24.7565 10.5791 24.7561 10.2495 24.6573 9.94323C24.5585 9.63692 24.3664 9.36921 24.1077 9.17763C23.8491 8.98605 23.537 8.88021 23.2152 8.87496L16.9652 8.63885C16.9345 8.63672 16.9051 8.62576 16.8804 8.60728C16.8558 8.5888 16.837 8.56359 16.8264 8.53468L14.6666 2.70135C14.5581 2.40457 14.361 2.1483 14.1021 1.96725C13.8431 1.78619 13.5347 1.68909 13.2187 1.68909C12.9027 1.68909 12.5944 1.78619 12.3354 1.96725C12.0764 2.1483 11.8793 2.40457 11.7708 2.70135L9.61802 8.55551C9.60738 8.58442 9.58861 8.60963 9.56397 8.62811C9.53933 8.6466 9.50987 8.65756 9.47914 8.65968L3.22914 8.89579C2.90734 8.90105 2.59525 9.00688 2.33663 9.19846C2.07802 9.39004 1.88585 9.65775 1.78706 9.96406C1.68828 10.2704 1.68783 10.5999 1.78579 10.9065C1.88375 11.2131 2.07521 11.4813 2.3333 11.6736L7.23608 15.5277C7.26062 15.547 7.27896 15.5731 7.28883 15.6027C7.29871 15.6324 7.29968 15.6642 7.29164 15.6944L5.60414 21.6736C5.51669 21.978 5.52516 22.3021 5.6284 22.6016C5.73164 22.901 5.92463 23.1615 6.18111 23.3474C6.4376 23.5333 6.74514 23.6357 7.06188 23.6406C7.37863 23.6456 7.6892 23.5528 7.95136 23.375L13.1319 19.9027C13.1574 19.8851 13.1877 19.8757 13.2187 19.8757C13.2497 19.8757 13.28 19.8851 13.3055 19.9027L18.4861 23.375C18.7447 23.5589 19.0542 23.6577 19.3715 23.6577C19.6888 23.6577 19.9983 23.5589 20.2569 23.375C20.5135 23.1908 20.7066 22.9316 20.8099 22.6332C20.9131 22.3347 20.9213 22.0116 20.8333 21.7083L19.1319 15.7083C19.1229 15.6782 19.1234 15.646 19.1333 15.6162C19.1433 15.5863 19.1622 15.5603 19.1875 15.5416L24.1111 11.6527Z" fill="#FFBD00"/>
            </g>
            <defs>
            <clipPath id="clip0_25_64">
            <rect width="25" height="25" fill="white" transform="translate(0.5)"/>
            </clipPath>
            </defs>
          </svg>
          <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_25_64)">
            <path d="M24.1111 11.6527C24.3692 11.4605 24.5606 11.1922 24.6586 10.8857C24.7565 10.5791 24.7561 10.2495 24.6573 9.94323C24.5585 9.63692 24.3664 9.36921 24.1077 9.17763C23.8491 8.98605 23.537 8.88021 23.2152 8.87496L16.9652 8.63885C16.9345 8.63672 16.9051 8.62576 16.8804 8.60728C16.8558 8.5888 16.837 8.56359 16.8264 8.53468L14.6666 2.70135C14.5581 2.40457 14.361 2.1483 14.1021 1.96725C13.8431 1.78619 13.5347 1.68909 13.2187 1.68909C12.9027 1.68909 12.5944 1.78619 12.3354 1.96725C12.0764 2.1483 11.8793 2.40457 11.7708 2.70135L9.61802 8.55551C9.60738 8.58442 9.58861 8.60963 9.56397 8.62811C9.53933 8.6466 9.50987 8.65756 9.47914 8.65968L3.22914 8.89579C2.90734 8.90105 2.59525 9.00688 2.33663 9.19846C2.07802 9.39004 1.88585 9.65775 1.78706 9.96406C1.68828 10.2704 1.68783 10.5999 1.78579 10.9065C1.88375 11.2131 2.07521 11.4813 2.3333 11.6736L7.23608 15.5277C7.26062 15.547 7.27896 15.5731 7.28883 15.6027C7.29871 15.6324 7.29968 15.6642 7.29164 15.6944L5.60414 21.6736C5.51669 21.978 5.52516 22.3021 5.6284 22.6016C5.73164 22.901 5.92463 23.1615 6.18111 23.3474C6.4376 23.5333 6.74514 23.6357 7.06188 23.6406C7.37863 23.6456 7.6892 23.5528 7.95136 23.375L13.1319 19.9027C13.1574 19.8851 13.1877 19.8757 13.2187 19.8757C13.2497 19.8757 13.28 19.8851 13.3055 19.9027L18.4861 23.375C18.7447 23.5589 19.0542 23.6577 19.3715 23.6577C19.6888 23.6577 19.9983 23.5589 20.2569 23.375C20.5135 23.1908 20.7066 22.9316 20.8099 22.6332C20.9131 22.3347 20.9213 22.0116 20.8333 21.7083L19.1319 15.7083C19.1229 15.6782 19.1234 15.646 19.1333 15.6162C19.1433 15.5863 19.1622 15.5603 19.1875 15.5416L24.1111 11.6527Z" fill="#FFBD00"/>
            </g>
            <defs>
            <clipPath id="clip0_25_64">
            <rect width="25" height="25" fill="white" transform="translate(0.5)"/>
            </clipPath>
            </defs>
          </svg>
          <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_25_64)">
            <path d="M24.1111 11.6527C24.3692 11.4605 24.5606 11.1922 24.6586 10.8857C24.7565 10.5791 24.7561 10.2495 24.6573 9.94323C24.5585 9.63692 24.3664 9.36921 24.1077 9.17763C23.8491 8.98605 23.537 8.88021 23.2152 8.87496L16.9652 8.63885C16.9345 8.63672 16.9051 8.62576 16.8804 8.60728C16.8558 8.5888 16.837 8.56359 16.8264 8.53468L14.6666 2.70135C14.5581 2.40457 14.361 2.1483 14.1021 1.96725C13.8431 1.78619 13.5347 1.68909 13.2187 1.68909C12.9027 1.68909 12.5944 1.78619 12.3354 1.96725C12.0764 2.1483 11.8793 2.40457 11.7708 2.70135L9.61802 8.55551C9.60738 8.58442 9.58861 8.60963 9.56397 8.62811C9.53933 8.6466 9.50987 8.65756 9.47914 8.65968L3.22914 8.89579C2.90734 8.90105 2.59525 9.00688 2.33663 9.19846C2.07802 9.39004 1.88585 9.65775 1.78706 9.96406C1.68828 10.2704 1.68783 10.5999 1.78579 10.9065C1.88375 11.2131 2.07521 11.4813 2.3333 11.6736L7.23608 15.5277C7.26062 15.547 7.27896 15.5731 7.28883 15.6027C7.29871 15.6324 7.29968 15.6642 7.29164 15.6944L5.60414 21.6736C5.51669 21.978 5.52516 22.3021 5.6284 22.6016C5.73164 22.901 5.92463 23.1615 6.18111 23.3474C6.4376 23.5333 6.74514 23.6357 7.06188 23.6406C7.37863 23.6456 7.6892 23.5528 7.95136 23.375L13.1319 19.9027C13.1574 19.8851 13.1877 19.8757 13.2187 19.8757C13.2497 19.8757 13.28 19.8851 13.3055 19.9027L18.4861 23.375C18.7447 23.5589 19.0542 23.6577 19.3715 23.6577C19.6888 23.6577 19.9983 23.5589 20.2569 23.375C20.5135 23.1908 20.7066 22.9316 20.8099 22.6332C20.9131 22.3347 20.9213 22.0116 20.8333 21.7083L19.1319 15.7083C19.1229 15.6782 19.1234 15.646 19.1333 15.6162C19.1433 15.5863 19.1622 15.5603 19.1875 15.5416L24.1111 11.6527Z" fill="#FFBD00"/>
            </g>
            <defs>
            <clipPath id="clip0_25_64">
            <rect width="25" height="25" fill="white" transform="translate(0.5)"/>
            </clipPath>
            </defs>
          </svg>
          <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_25_64)">
            <path d="M24.1111 11.6527C24.3692 11.4605 24.5606 11.1922 24.6586 10.8857C24.7565 10.5791 24.7561 10.2495 24.6573 9.94323C24.5585 9.63692 24.3664 9.36921 24.1077 9.17763C23.8491 8.98605 23.537 8.88021 23.2152 8.87496L16.9652 8.63885C16.9345 8.63672 16.9051 8.62576 16.8804 8.60728C16.8558 8.5888 16.837 8.56359 16.8264 8.53468L14.6666 2.70135C14.5581 2.40457 14.361 2.1483 14.1021 1.96725C13.8431 1.78619 13.5347 1.68909 13.2187 1.68909C12.9027 1.68909 12.5944 1.78619 12.3354 1.96725C12.0764 2.1483 11.8793 2.40457 11.7708 2.70135L9.61802 8.55551C9.60738 8.58442 9.58861 8.60963 9.56397 8.62811C9.53933 8.6466 9.50987 8.65756 9.47914 8.65968L3.22914 8.89579C2.90734 8.90105 2.59525 9.00688 2.33663 9.19846C2.07802 9.39004 1.88585 9.65775 1.78706 9.96406C1.68828 10.2704 1.68783 10.5999 1.78579 10.9065C1.88375 11.2131 2.07521 11.4813 2.3333 11.6736L7.23608 15.5277C7.26062 15.547 7.27896 15.5731 7.28883 15.6027C7.29871 15.6324 7.29968 15.6642 7.29164 15.6944L5.60414 21.6736C5.51669 21.978 5.52516 22.3021 5.6284 22.6016C5.73164 22.901 5.92463 23.1615 6.18111 23.3474C6.4376 23.5333 6.74514 23.6357 7.06188 23.6406C7.37863 23.6456 7.6892 23.5528 7.95136 23.375L13.1319 19.9027C13.1574 19.8851 13.1877 19.8757 13.2187 19.8757C13.2497 19.8757 13.28 19.8851 13.3055 19.9027L18.4861 23.375C18.7447 23.5589 19.0542 23.6577 19.3715 23.6577C19.6888 23.6577 19.9983 23.5589 20.2569 23.375C20.5135 23.1908 20.7066 22.9316 20.8099 22.6332C20.9131 22.3347 20.9213 22.0116 20.8333 21.7083L19.1319 15.7083C19.1229 15.6782 19.1234 15.646 19.1333 15.6162C19.1433 15.5863 19.1622 15.5603 19.1875 15.5416L24.1111 11.6527Z" fill="#FFBD00"/>
            </g>
            <defs>
            <clipPath id="clip0_25_64">
            <rect width="25" height="25" fill="white" transform="translate(0.5)"/>
            </clipPath>
            </defs>
          </svg>
        </div>
        <p>{{ section.settings.social_rating_text }}</p>
      </div>
    </a>
  </div>
  <div class="container">
    {% for block in section.blocks %}
      {% if block.settings.review != empty and block.settings.name != empty %}
        <div class="frame item{{ forloop.index }}" {{ block.shopify_attributes }}>
          <img
            class="image image-tilt-{% if forloop.index <= 2 %}left{% else %}right{% endif %}"
            src="{{ block.settings.image |  image_url: width: 1000 }}"
            width="1"
            height="1"
          >
          <div class="review">
            <div class="review-text">
              {{ block.settings.review }}
            </div>
            <div class="rating-name">
              <div class="stars">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
                </svg>
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
                </svg>
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
                </svg>
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
                </svg>
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
                </svg>
              </div>
              <div class="name">- {{ block.settings.name }}</div>
            </div>
          </div>
        </div>

      {% else %}
        <img
          class="image image-tilt-{% if forloop.index <= 2 %}left{% else %}right{% endif %} item{{ forloop.index }}"
          src="{{ block.settings.image | image_url: width: 1000 }}"
          width="1"
          height="1"
          {{ block.shopify_attributes }}
        >
      {% endif %}
    {% endfor %}

    {% comment %}
       <div class="frame item1">
         <img
           class="image image-tilt-left"
           src="https://cdn.shopify.com/s/files/1/0631/0513/8916/files/review1.jpg?v=1707817942"
           width="1"
           height="1"
         >
         <div class="review">
           <div class="review-text">
             I really find it easy to use daily since it's small and the speed is adjustable. Love it. Want to buy another
             one to keep at work!
           </div>
           <div class="rating-name">
             <div class="stars">
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
             </div>
             <div class="name">- Ashley</div>
           </div>
         </div>
       </div>
       <img
         class="image image-tilt-left item2"
         src="https://cdn.shopify.com/s/files/1/0631/0513/8916/files/review1_flosser.jpg?v=1707817943"
         width="1"
         height="1"
       >

       <img
         class="image image-tilt-right item3"
         src="https://cdn.shopify.com/s/files/1/0631/0513/8916/files/review2_flosser.jpg?v=1707817943"
         width="1"
         height="1"
       >

       <div class="frame item4">
         <img
           class="image-tilt-right"
           src="https://cdn.shopify.com/s/files/1/0631/0513/8916/files/review2.jpg?v=1707817943"
           width="1"
           height="1"
         >
         <div class="review">
           <div class="review-text">
             Never owned a water flosser before but decided to give this one a go as it seemed good value for money. So
             glad I did! Both my husband & I love it!
           </div>
           <div class="rating-name">
             <div class="stars">
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
             </div>
             <div class="name">- Jude</div>
           </div>
         </div>
       </div>

       <div class="frame item5">
         <img
           class="image image-tilt-right"
           src="https://cdn.shopify.com/s/files/1/0631/0513/8916/files/review3.jpg?v=1707817943"
           width="1"
           height="1"
         >
         <div class="review">
           <div class="review-text">
             I was advised to get one by my dentist. I love it, it makes my dental routine so much better.
           </div>
           <div class="rating-name">
             <div class="stars">
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
               <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.34763 0.953052C8.57421 0.211936 9.61678 0.193736 9.86909 0.926493L11.3619 5.26199C11.4748 5.58969 11.7858 5.80747 12.1323 5.80142L16.7169 5.72139C17.4918 5.70787 17.8313 6.69379 17.2123 7.16018L13.5503 9.91969C13.2735 10.1283 13.1625 10.4914 13.2754 10.8191L14.7682 15.1546C15.0205 15.8873 14.1878 16.5148 13.5529 16.0703L9.79686 13.4403C9.51296 13.2415 9.13334 13.2481 8.85654 13.4567L5.19455 16.2162C4.57562 16.6826 3.72147 16.0845 3.94805 15.3434L5.28867 10.9585C5.39 10.627 5.26639 10.268 4.98249 10.0692L1.22642 7.43922C0.591591 6.99471 0.896454 5.99754 1.67131 5.98402L6.25593 5.90399C6.60246 5.89794 6.90568 5.66945 7.00701 5.33801L8.34763 0.953052Z" fill="#FFBD00"/>
               </svg>
             </div>
             <div class="name">- Jordan</div>
           </div>
         </div>
      </div>
    {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "C Social Proof",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Everyone loves their Flossmo!"
    },
    {
      "type": "text",
      "id": "social_rating_text",
      "label": "Social rating text",
      "default": "Rated 4.9/5 by 110+ Happy Customers"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "review",
          "label": "Review text"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Reviewer name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "C Social Proof"
    }
  ]
}
{% endschema %}
