

<script src="{{ 'steps-slider.js' | asset_url }}" defer="defer"></script>


<style>
  /* Steps Section */

  .steps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 50px 10px;
    overflow:hidden;
  }

  .steps h3 {
    font-size: 22px;
    margin: 0;
  }

  .steps .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 12px;
  }

  .step-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }



  .step-box .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
  }

  @media screen and (min-width: 750px) {
    .steps h1 {
      font-size: 32px;
    }
  }

  @media screen and (min-width: 800px) {
    .steps .container {
      gap: 75px;
    }
  }

  @media screen and (min-width: 1200px) {
    .steps h1 {
      font-size: 32px;
    }

    .steps h3 {
      font-size: 28px;
    }
  }

  @media only screen and (min-width:990px){
      .step-box img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 12px;
      }
  }
   @media only screen and (max-width:990px){
      .step-box img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 12px;
      }
     .swiper-slide{
       margin:0px 10px 0px 0px;
     }
     .swiper-pagination{
       bottom: 80px !important;
     }
     .swiper-pagination-bullet-active{
       background:#000 !important;
     }
  }
</style>

<div class="steps">
  <h1>As easy as 1-2-3.</h1>

<div class="desktop-view">
  <div class="container">
    {% for block in section.blocks %}
        <div class="step-box" {{ block.shopify_attributes }}>
          <img
            src="{{ block.settings.image | image_url: width: 400 }}"
            width="1"
            height="1"
          >
          <div class="text-box">
            <h3>{{ block.settings.heading }}</h3>
            {{ block.settings.paragraph }}
          </div>
        </div>
      {% endfor %}
  </div>
</div>
<div class="mobile-view">
  <div class="container">
<div>
<div class="swiper step-slider">
    <div class="swiper-wrapper">
      
        {% for block in section.blocks %}
          <div class="swiper-slide w-full">
          <div class="step-box" {{ block.shopify_attributes }}>
            <img
              src="{{ block.settings.image | image_url: width: 400 }}"
              width="1"
              height="1"
            >
            <div class="text-box">
              <h3>{{ block.settings.heading }}</h3>
              {{ block.settings.paragraph }}
            </div>
          </div>
           </div>
        {% endfor %}

   
  </div>
  <div class="swiper-pagination"></div>
</div>
</div>

    

      
    </div>
  </div>
</div>

    
    
  


{% schema %}
{
  "name": "C Steps",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Everyone loves their Flossmo!"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Fill it up..."
        },
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Open the water tank and fill it<br>to the top.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "C Steps"
    }
  ]
}
{% endschema %}


