{% comment %} {{ 'component-accordion.css' | asset_url | stylesheet_tag }} {% endcomment %}
{% comment %} {{ 'collapsible-content.css' | asset_url | stylesheet_tag }} {% endcomment %}

<div class="collapsible-content">
  <h1>{{ section.settings.heading }}</h1>
  <div class="collapsible-content__container">
    {%- for block in section.blocks -%}
      <details id="Details-{{ block.id }}-{{ section.id }}">
        <summary>
          <h2>{{ block.settings.heading }}</h2>
          <div class="chevron-down">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 9L12 15L6 9" stroke="#fff" stroke-width="2"/>
            </svg>
          </div>
        </summary>
        <div class="accordion-content" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
          {{ block.settings.row_content }}
          {{ block.settings.page.content }}
        </div>
        <div class="chevron-up">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 15L12 9L6 15" stroke="#fff" stroke-width="2"/>
          </svg>
        </div>
      </details>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Collapsible Content",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Collapsible content"
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "Collapsible row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "Heading",
          "info": "Include a heading that explains the content."
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "Row content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collapsible content"
    }
  ]
}
{% endschema %}
