<script
    type="application/json"
    data-section-type="logo-bar"
    data-section-id="{{ section.id }}"
  >
  </script>
  
  {%- assign id = section.id -%}
  
  {% comment %} Content settings {% endcomment %}
  {%- assign title = section.settings.title | escape -%}
  {%- assign blocks = section.blocks -%}
  {% comment %} End content settings {% endcomment %}
  
  {% comment %} Advanced {% endcomment %}
  {%- assign css_class = section.settings.css_class -%}
  {%- assign custom_css = section.settings.custom_css -%}
  
  {% comment %} Section specific CSS {% endcomment %}
  {% style %}
    {%
      render 'css-loop',
      css: custom_css,
      id: id
    %}
    #shopify-section-{{ section.id }} img.Svg-image-links {
        width: 100%;
        height: {{section.settings.msvg_height }}px;
        object-fit: {{section.settings.svg_fit }};
    }

    #shopify-section-{{ section.id }} .section-header-item{
        display: flex;
        align-items: center;
        max-width: 480px;
            margin: 20px auto 0px;
    }

    #shopify-section-{{ section.id }} .section-header-item h2{
        font-size: 10px;
        line-height: 1.4;
        margin-right: 12px;
        margin-left: 12px;
        width: auto;
        white-space: nowrap;
    }

    #shopify-section-{{ section.id }} .section-header-item .line {
        width: 20%;
        height: 1px;
        background-color: rgba(15, 21, 41, 0.1);
        margin: 0 auto;
    }
    #shopify-section-{{ section.id }} .logo-bar__item{
      width: fit-content;
      max-width: 100%;
      margin-left: 7px;
      margin-right: 7px;
    }

    @media (min-width: 769px){
        #shopify-section-{{ section.id }}{
            padding-top: 35px;
        }
        #shopify-section-{{ section.id }} img.Svg-image-links {
          height: {{section.settings.dsvg_height }}px;
        }

        #shopify-section-{{ section.id }} .section-header-item .line {
        width: 100%;
        }
        
    }
  {% endstyle %}
  
  <section class="section {{ css_class }}">
    <div class="container">
      <div class="one-whole column">
        {% if title != blank %}
            <div class="section-header-item">
                <div class="line"></div>
                 <h2 class="title center">{{ title }}</h2>
                 <div class="line"></div>
            </div>
        {% endif %}
  
        {% if blocks.size > 0 %}
          <div class="logo-bar">
            {% for block in blocks %}
              {% comment %} Content settings {% endcomment %}

              {%- assign link = block.settings.link -%}
              
              {% comment %} End content settings {% endcomment %}
  
              <div class="logo-bar__item" {{ block.shopify_attributes }}>
                {% if block.settings.link != blank %}
                  <a href="{{ block.settings.link }}" class="logo-bar__link">
                {% endif %}
  
                {% if block.settings.svg_link != blank or block.settings.image != blank %}
                  {% if block.settings.svg_link != blank %}
                    <img class="Svg-image-links" src="{{ block.settings.svg_link | asset_url }}">
                  {% else %}
                    {%
                        render 'image-element',
                        image: block.settings.image,
                        alt: image.alt
                    %}
                  {% endif %}
                {% else %}
                  {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
  
                {% if block.settings.link != blank %}
                  </a>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  
  {% schema %}
  {
    "name": "Logo list v2",
    "class": "shopify-section--logo-list",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "number",
        "id": "dsvg_height",
        "label": "Height for SVG image file(desktop)",
         "default": 30,
         "info": "unit in px"
      },
      {
        "type": "number",
        "id": "msvg_height",
        "label": "Height for SVG image file(mobile)",
         "default": 15,
         "info": "unit in px"
      },
      {
        "type": "select",
        "id": "svg_fit",
        "label": "SVG Image fit",
        "default": "contain",
        "options": [
            {
                "value": "cover",
                "label": "Cover"
            },
            {
                "value": "contain",
                "label": "Contain"
            },
            {
                "value": "inherit",
                "label": "None"
            }
        ]
      },
      {
        "type": "paragraph",
        "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "400 x 300px recommended"
          },
          {
            "type": "text",
            "id": "svg_link",
            "label": "SVG file for logo",
            "info": "Please add the file in the Theme > Edit Code > Assets folder, and add here the file name, case sensitive"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list v2",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
  
  {% endschema %}